<%- include('../partials/header')%>
  <header class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center header-spacing">
          <h1><b>About Us</b></h1>
          <p><b>You Say ! We Deliver !</b></p>
        </div>
      </div>
    </div>

  </header>


  <section class="p-5 ">
    <div class="container">
      <div class="row">
        <div>
          <h2 class="text-center cr-font"><strong>About Us</strong></h2>
          <div class="title-underline">

          </div>

          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">RKTC is a Pune-based company specializing
            in transport and crane services. We offer reliable and efficient
            solutions for
            your transportation and lifting needs. With a fleet of trucks and trailers, as well as state-of-the-art
            cranes, we
            ensure safe and timely delivery of your cargo. Our experienced team of professionals is dedicated to
            providing
            customized solutions to meet your specific requirements. At RKTC, we prioritize safety, efficiency, and
            customer
            satisfaction. Our commitment to excellence has earned us a trusted reputation in the industry. Whether
            you're a
            construction company or an individual, RKTC is your reliable partner for transport and crane services.
            Experience our
            expertise and professionalism for successful project completion. Choose RKTC for all your transport and
            crane
            requirements.

        </div>
      </div>

    </div>
  </section>
  <section class="p-5 alternate mt-5">
    <div class="container">
      <div class="row">
        <div>
          <h2 class="text-center cr-font"><strong>Why Choose Us?</strong></h2>
          <div class="title-underline"></div>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">
            RKTC operates large and most diverse range of equipment and machines in the industry. Our
            fleet is
            specifically tailored to meet the unique demands of each project, whether it's congested high-rise
            construction,
            mega-scale ground-works, port handling, wind energy, cement industry, oil & gas, or civil engineering
            packages for
            new-build construction projects. In addition to providing the right expertise and equipment for your
            needs, we guarantee
            well-maintained products in excellent condition. Our professional service, nationwide coverage, and
            expert advice ensure
            that we are the go-to Total Solutions Provider. We offer a comprehensive range of services including
            equipment hire,
            site infrastructure, plant handling, specialized design and fabrication, testing and inspection, as
            well as ongoing
            support once a project is completed.
          </p>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">We understand that business is being
            transformed by technology, and our customers demand better value
            and
            faster delivery</p>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">
            Digital Engineering and Design for Manufacture and Assembly are revolutionizing the construction
            industry, and as a
            result, we at RKTC are committed to continuous investment in the tools and logistical equipment
            necessary to meet the
            demands of future construction projects.
          </p>
        </div>
      </div>

    </div>
  </section>
  <section class="p-5">
    <div class="container">
      <div class="row">
        <div>
          <h2 class="text-center cr-font"><strong>How We Work</strong></h2>
          <div class="title-underline">

          </div>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">At RKTC, we bring our extensive
            construction market heritage to every project we undertake. We
            understand the true value
            that a thoughtful and customized approach can bring in terms of efficiency and results.</p>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">To ensure optimal project outcomes, we
            meticulously plan each activity. If necessary, we conduct site
            visits to
            familiarize ourselves with the project's unique requirements. This allows us to develop detailed
            method statements and
            planning documentation, ensuring a comprehensive and well-executed approach. Our team consists of
            industry experts who
            possess the competence and confidence to provide expert advice and deliver exceptional service and
            value.</p>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">Our primary focus is to conduct our
            activities with a responsible attitude towards safety and
            performance. We prioritize
            the well-being of our customers and strive to instill confidence in the quality of our work. With
            RKTC, you can trust
            that your project will be handled with utmost care and professionalism.</p>


        </div>
      </div>

    </div>
  </section>

  <section class="p-5 alternate">
    <div class="container">
      <div class="row">
        <div>
          <h2 class="text-center cr-font"><strong>Responsibility </strong></h2>
          <div class="title-underline"></div>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">At RKTC, safety is our top priority. We
            understand the critical importance of safety when working at
            heights, and it
            remains our utmost concern. Our internal Safety Audit Team sets stringent safety requirements for
            construction hoists,
            and we fully comply with them. We prioritize the well-being of our employees, clients, and partners,
            and we are
            committed to providing a safe working environment.To ensure the highest standards of health and
            safety, we provide specialized safety training to our rigging and
            Operations team. Additionally, we collaborate with OEMs to access comprehensive health and safety
            services, allowing us
            to stay up to date with the latest procedures and maintain robust safety protocols.
          </p>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">When you choose RKTC, you can trust that
            our safety expertise will be shared with your team. During
            the installation of
            a construction hoist on your project, we provide rigorous on-site training to equip your team with the
            necessary
            knowledge and skills to adhere to strict safety guidelines.With our unwavering focus on safety, we
            strive to deliver exceptional services while maintaining the highest safety
            standards. At RKTC, your safety is our priority.</p>
        </div>
      </div>

    </div>
  </section>
  <section class="p-5 ">
    <div class="container">
      <div class="row">
        <div>
          <h2 class="text-center cr-font"><strong>Our people</strong></h2>
          <div class="title-underline">

          </div>

          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">RKTC is a renowned company specializing
            in cranes and transportation services. With a dedicated
            workforce of over 250
            employees spread across offices, yards, and work sites, RKTC has established itself as a leader in the
            industry.
            The core values of our organization emphasize the recognition, retention, and encouragement of talent,
            ensuring that our
            key management personnel are retained and motivated to deliver exceptional results.</p>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">Our knowledgeable and experienced staff
            is committed to providing expert guidance and advice,
            ensuring that your
            requirements are met with utmost safety, efficiency, and minimal disruption to your business and
            stakeholders.
            At RKTC, we prioritize continuous training and development for our staff. Each team member has an
            individual training
            file, ensuring that they receive the highest quality internal and external training relevant to their
            roles and
            responsibilities.</p>
          <p style="white-space: no-wrap;hyphens: auto;word-break: break-all;">When you choose RKTC for your crane and
            transportation needs, you can trust in our professionalism
            and commitment to
            excellence. Experience the difference our dedicated team and top-notch service can make for your
            business.</p>
        </div>

      </div>
    </div>

    </div>
  </section>

  <%- include('../partials/footer')%>
    <script src="/js/jquery.3.5.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/footer.js"></script>

    <script src="/js/abousjs.js"></script>
    <script src="/js/abtscards.js"></script>


    <script src="/js/owl.carousel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

    <script>
      function setModel(management)
      {
        document.getElementById('management-title').innerHTML = "MR." + management.name + "(" + management.post + ")";
        document.getElementById('management-content').innerHTML = management.speach;
      }
    </script>
    </body>

    </html>