<!DOCTYPE html>
<html>

<head>
  <title>Error Page</title>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f7f7f7;
      font-family: Arial, sans-serif;
    }

    .error-container {
      text-align: center;
      /* background-color: #eee; */
      padding: 20px;

      max-width: 400px;
      width: 90%;
    }

    h1 {
      color: #333;
      margin-top: 0;
    }

    p {
      color: #888;
    }
  </style>
</head>

<body>
  <div class="error-container">
    <div>
      <h1>400</h1>

    </div>
    <div>
      <h1>Bad Request</h1>
    </div>

    <div>
      <h3><a href="/">Home</a></h1>
    </div>
  </div>
  <script>

  </script>
</body>

</html>